@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Vina+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

.font-emea {
    font-family: 'Pirata One', cursive;
    color: #ffeace;
}

.font-americas {
    font-family: 'Audiowide', sans-serif;
    color: #5af4ff;
}

.font-asia {
    font-family: 'Chelsea Market', cursive;
    color: #ff7636;
}

.font-concert{
    font-family: 'Concert One', cursive;
}

/* variables to reuse */
:root {
    --primary-blue: #3b82f6;
    --glass-border: rgba(255, 255, 255, 0.1);
} 

body {
    font-family: 'Tenor Sans', sans-serif;
    background-color: #8d97ce;
    color: #fff;
}

.title-font {
    font-family: 'Concert One', monospace;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* Animations */
@keyframes slow-zoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}

.bg-animation {
    animation: slow-zoom 20s infinite alternate ease-in-out;
}

/* Componenets */


.nav-glass {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--glass-border);
}


.search-input {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    border: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); /* Blue glow */
}

/* buttons */
.btn-primary {
    background-color: #2563eb; /* Blue-600 */
    color: white;
    font-weight: 600;
    transition: background-color 0.2s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background-color: #1d4ed8; /* Blue-700 */
}


.flash-container {
    background: rgba(37, 100, 235, 0.226); /* Blue transparent */
    backdrop-filter: blur(8px);
    border: 1px solid #60a5fa;
}