<!DOCTYPE html>
<!--
  Snorelacks' Traveling Itinerary Website // Snorelacks
  Roster: Yu L, Ricky L, Andrew T, Mustafa A
  SoftDev

  Goal: Display a country, 5 days of weather information, and famous landmarks, capital
 -->
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/app.css">
  </head>

  <!-- Flash Message -->
  {% block content %}
  <div class="flashmsg">
      {% for message in get_flashed_messages() %}
      {{ message }}<br>
      {% endfor %}
      {% block page_content %}{% endblock %}
  </div>
  {% endblock %}

  <body>

    <div class="header">
      <h1>
      </h1>
    </div>

    <div class = "middle">
      {% if logged_in %}
      <p></p>

      {% else %}
      <h3>Country requested: {{country_data['country'][0]['name']['common']}}</h3>
      <p>weather: {{country_data['weather']}}</p> <!-- need to parse the country data properly before rendering -->
      <p>summary: {{country_data['summary']['extract']}}</p>
      <p>Places: {{country_data['places']}}</p> <!-- check if this is empty first, then render or else exclude section, do for all other sections.>
      <p>Currency: {{country_data['currency']['data']}}</p>
      <hr>
     </div>

     <br>
     <hr>

     <div class = "footer">
       <p>
       </p>
      </div>
      {% endif %}
      <p>
        Return to <a href= "/"> homepage</a><br>
      </p>
  </body>

</html>
