<!DOCTYPE html>
<!--
  Snorelacks' Traveling Itinerary Website // Snorelacks
  Roster: Yu L, Ricky L, Andrew T, Mustafa A
  SoftDev

  Based off: Gato BLog // Ninja Cats

 -->
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snorelacks - Itinerary</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Orbitron:wght@500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        @keyframes slow-zoom {
        0% { 
            transform: translate(0, 0);
        }
        50% {
            transform: translate(-1%, 0);
        }
        100% { 
            transform: translate(1%, 0);
        }
        }
        .animate-slow-zoom {
        animation: slow-zoom 15s infinite alternate ease-in-out;
        }
    </style>
</head>



  <body class="bg-black text-white h-screen overflow-hidden relative">

    <div class="absolute inset-0">
      <div class="absolute inset-0 bg-black/50 z-60"></div>
      <img src="/static/images/homepage_Bg.jpg" alt="Earth Background" class="w-full h-full object-cover animate-slow-zoom opacity-90">
    </div>

    <nav class="bg-black/30 backdrop-blur">
      <div class="container mx-auto px-6 py-4 flex justify-between">

        <div class="flex items-center">
          <div class="bg-white-500 rounded-full flex items-center justify-center mx-2">
            <img src="/static/images/flag.jpg" class = "w-10">
          </div>

          <h1 class="text-2xl font-bold tracking-normal">
              <span><span class="text-blue-500">Snore</span>lack's Traveling iternatry</span>
          </h1>

        </div>

        <div class="flex gap-6">
          <a href="{{ url_for('register') }}" class="flex items-center text-white-400 hover:text-white-300 border border-white-500/30 px-4 bg-white-300/10">Register</a>
          <a href="{{ url_for('login') }}" class="flex items-center text-white-400 hover:text-white-300 border border-white-500/30 px-4 bg-white-300/10">Login</a>
          <a href="{{ url_for('profile') }}" class="flex items-center text-blue-400 hover:text-white-300 border border-blue-500/30 px-4 bg-blue-300/10">
              <span>Profile</span>
          </a>
        </div>
      </div>
    </nav>

  <nav class="flex-grow flex flex-col justify-center items-center text-center px-4 py-20">

    <h1 class="text-7xl font-white font-black mb-2 drop-shadow-lg">
      <span class="text-blue-500">SNORE</span>LACKS
    </h1>
    <p class="text-2xl mb-10 font-light drop-shadow-md">
      Where to?
    </p>

    <form action="{{ url_for('country') }}" method="get" class="w-full max-w-2xl relative group">

      <i class="fa-solid fa-magnifying-glass absolute left-6 top-1/2 transform -translate-y-1/2 text-gray-400 z-10"></i>

      <input type="text" name="keyword" placeholder="Search for a country..." class="w-full bg-white/90 text-gray-900 py-5 pl-14 rounded-2xl focus:outline-blue focus:ring-4 focus:ring-white-500/50 transition-all duration-300">

      <div class="absolute right-3 top-2 bottom-2">
        <button type="submit" class="h-full bg-blue-500 hover:bg-blue-400 text-white px-6 rounded-xl font-bold shadow-lg">
          Search
        </button>
      </div>
    </form>

  </nav>

    <br>
  </body>

  <footer>
          <!-- Flash Message -->
  {% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="fixed top-6 left-1/2 transform -translate-x-1/2 w-full max-w-md backdrop-blur-md bg-white/10">
        {% for message in messages %}
          <div class="flash-container text-white px-6 py-3 rounded-lg shadow-lg mb-2 text-center">
            {{ message }}
          </div>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  {% endblock %}
  </footer>

</html>
